{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block head %}

<link rel="stylesheet"
href="{{ url_for('static', filename='css/register.css') }}">

{% endblock %}

{% block content %}

<div class="register-wrapper">

    <div class="register-card fade-up">

        <div class="register-header">

            <div class="register-logo">
                🌍
            </div>

            <h1>Create Account</h1>

            <p>
                Start translating Indian languages into German.
            </p>

        </div>

        {% with messages=get_flashed_messages() %}
        {% if messages %}

        <div class="message-box">

            {% for message in messages %}
                {{ message }}
            {% endfor %}

        </div>

        {% endif %}
        {% endwith %}

        <form action="{{ url_for('register') }}" method="POST">

            <div class="form-group">

                <label>Full Name</label>

                <input
                type="text"
                name="username"
                placeholder="Enter your name"
                required>

            </div>

            <div class="form-group">

                <label>Email</label>

                <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required>

            </div>

            <div class="form-group">

                <label>Password</label>

                <input
                type="password"
                name="password"
                placeholder="Create Password"
                required>

            </div>

            <button type="submit" class="btn register-btn">

                <i class="fa-solid fa-user-plus"></i>

                Create Account

            </button>

        </form>

        <div class="bottom-link">

            Already have an account?

            <a href="{{ url_for('login') }}">
                Login
            </a>

        </div>

    </div>

</div>

{% endblock %}